<div class="large-padded-row">
    <div class="padded-row">
        <angucomplete id="ex1" placeholder="请输入商品名称" pause="100" selectedobject="selectedProduct" localdata="products" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
    </div>
    
    <div class="" ng-show="selectedProduct">
        你选择的是:<span class="bold-span">{{selectedProduct.originalObject.name}}</span><br/> 编号是:<span class="bold-span">{{selectedProduct.originalObject.id}}</span>
    </div>
</div>   